############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class

############################
# Virtualenv (root)
############################
venv/
.venv/
env/
ENV/

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDE
############################
.vscode/
.idea/

############################
# Logs
############################
*.log