############################
# Environment variables
############################
.env
.env.*

############################
# Python cache
############################
__pycache__/
*.py[cod]

############################
# Docker volumes
############################
pgdata/
minio_data/


############################
# Test / cache
############################
.pytest_cache/
.mypy_cache/

############################
# OS junk
############################
.DS_Store
Thumbs.db